.App {
  text-align: center;
}
.header {
  margin: 40px;
  /*position: fixed;*/
}
.button-add {
  width: 80px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
.item-removal {
  margin: 5px;
  text-align: center;
  font-size: 10px;
  border-radius: 4px;
}

.new-item-input {
  width: 230px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
.list-item {
  font-size: 20px;
  margin: 5px;
}

