.App {
  text-align: center;
}
.header {
  margin: 40px;
  /*position: fixed;*/
}
.button-add {
  width: 80px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

.new-item-input {
  width: 230px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

